<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.InvestmentMapper">

    <!-- 封装投资对象 -->
    <!--<resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.vo.TranscationVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="txType" jdbcType="INTEGER" property="txType"/>
        <result column="to" jdbcType="VARCHAR" property="to"/>
        <result column="hash" jdbcType="VARCHAR" property="hash"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>-->


    <!-- 新增投资数据,创建一个用户时默认带着 币种 和 投资表增加相对于的币种福利信息 -->
    <insert id="insertUserInvestmentInfo" parameterType="java.util.List">

       <!-- <selectKey resultType ="java.lang.Long" keyProperty= "id" order= "AFTER">

            SELECT LAST_INSERT_ID()

        </selectKey>-->

        INSERT INTO VAH_T_INVESTMENT(
            walletId,
            interests,
            recommend,
            dynamicAward,
            createTime,
            updateTime
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.walletId},
            DEFAULT,
            DEFAULT,
            DEFAULT,
            now(),
            now()
            )
        </foreach>

    </insert>


    <!-- 查询投资信息单条信息,按钱包币种编号 -->
    <select id="selectInvestmentByWalletId" resultType="pro.bechat.wallet.domain.model.model.Investment" parameterType="Integer">

        SELECT id,walletId,interests,recommend,dynamicAward FROM VAH_T_INVESTMENT

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="walletId != null and walletId != 0">

                AND walletId = #{walletId}
            </if>

        </trim>

    </select>

    <!-- 更新  利息奖、直推奖、动态奖 -->
    <update id="modifyInvestmentInfo" parameterType="pro.bechat.wallet.domain.model.model.Investment">

        UPDATE VAH_T_INVESTMENT

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="interests != null and interests != 0">

                interests = interests + #{interests},
            </if>
            <if test="recommend != null and recommend != 0">

                recommend = recommend + #{recommend},
            </if>
            <if test="dynamicAward != null and dynamicAward != 0">

                dynamicAward = dynamicAward + #{dynamicAward},
            </if>
            updateTime=NOW(),
        </trim>

    </update>


</mapper>