<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelsky.ypb.domain.model.MessagesBody">

    <!--表名 -->
    <sql id="tableName">
        "ETP_T_MESSAGES_CENTER"
    </sql>

    <resultMap id="resultMap" type="com.travelsky.ypb.domain.model.MessagesBody" >
        <result column="ID" property="id" />
        <result column="DEPT" property="dept" />
        <result column="DEST" property="dest" />
        <result column="USERID" property="userId" />
        <result column="FLIGHTNO" property="flightNo" />
        <result column="PLANID" property="planId" />
        <result column="FLIGHTDATE" property="flightDate" />
        <result column="MESSAGEBODY" property="messageBody" />
        <result column="APPID" property="appId" />
        <result column="EVENTTYPE" property="eventType" />
        <result column="UPDATETIME" property="updateTime" />
        <result column="TITLE" property="title" />
    </resultMap>

    <!-- 字段值 -->
    <sql id="FieldValue">
      #{id, jdbcType=VARCHAR},
      #{dept, jdbcType=VARCHAR},
      #{dest, jdbcType=VARCHAR},
      #{userId, jdbcType=VARCHAR},
      #{flightNo, jdbcType=VARCHAR},
      #{planId, jdbcType=VARCHAR},
      #{flightDate, jdbcType=VARCHAR},
      #{messageBody, jdbcType=VARCHAR},
      #{appId, jdbcType=VARCHAR},
      #{eventType, jdbcType=VARCHAR},
      #{updateTime, jdbcType=VARCHAR},
      #{title, jdbcType=VARCHAR}
    </sql>

    <!-- 字段 -->
    <sql id="Field">
      id,
      dept,
      dest,
      userId,
      flightNo,
      planId,
      flightDate,
      messageBody,
      appId,
      eventType,
      updateTime,
      title
    </sql>

    <!-- 条件列表 -->
    <select id="findList" parameterType="com.travelsky.ypb.domain.model.MessagesBody"
            resultMap="resultMap">
        SELECT
        <include refid="Field"></include>
        FROM ( SELECT A.*, ROWNUM RN
        FROM (SELECT * FROM <include refid="tableName"></include> ) A
        <![CDATA[
        WHERE ROWNUM  <= #{end} ) WHERE RN > #{start}
        ]]>
        AND USERID = #{userId}
        AND APPID = #{appId}
        <if test="planId != null and planId != '' ">
            AND PLANID = #{planId}
        </if>

    </select>

    <!-- 插入数据 -->
    <insert id="save" parameterType="com.travelsky.ypb.domain.model.MessagesBody"
            useGeneratedKeys="false">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        )
        values
        (
        <include refid="FieldValue"></include>
        )
    </insert>
    <delete id="delete" parameterType="Long" >
        delete FROM
        <include refid="tableName"></include>
        WHERE ID = #{id}
    </delete>

</mapper>