<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.SystemMapper">
    <select id="selectStatistics" resultType="pro.bechat.wallet.domain.model.model.SystemStatistics">
      SELECT
	*
FROM
	(
		SELECT
			COUNT(1) AS userNumber
		FROM
			vah_t_user
	) t,
	(
		SELECT
			SUM(amount) as recharge
		FROM
			vah_t_transcation
		WHERE
			txType = 7
	) a,(
		SELECT
			SUM(amount) as forward
		FROM
			vah_t_transcation
		WHERE
			txType = 8
	) b,(
		SELECT
			SUM(amount) as recommend
		FROM
			vah_t_transcation
		WHERE
			txType = 3
	) c,(
		SELECT
			SUM(amount) as interest
		FROM
			vah_t_transcation
		WHERE
			txType = 4
	) d,(
		SELECT
			SUM(amount) as active
		FROM
			vah_t_transcation
		WHERE
			txType = 5
	) e
    </select>
</mapper>