<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.travelsky.ypb.domain.model.TicketChangePrice">

    <!--表名 -->
    <sql id="tableName">
        "ETP_T_TICKET_CHANGE_PRICE"
    </sql>

    <resultMap id="resultMap" type="com.travelsky.ypb.domain.model.TicketChangePrice" >
        <result column="ID" property="id" />
        <result column="PLANID" property="planId" />
        <result column="DEPT" property="dept" />
        <result column="DEST" property="dest" />
        <result column="FLIGHTDATE" property="flightDate" />
        <result column="USERID" property="userId" />
        <result column="PTYPE" property="pType" />
        <result column="CLAZZ" property="clazz" />
        <result column="TAKEOFFBEGIN" property="takeOffBegin" />
        <result column="TAKEOFFEND" property="takeOffEnd" />
        <result column="APPID" property="appId" />
        <result column="ISSHARE" property="isShare" />
        <result column="LASTPRICE" property="lastPrice" />
        <result column="THISPRICE" property="thisPrice" />
        <result column="SHAREFLIGHTNO" property="shareFlightNo" />
        <result column="FLIGHTNO" property="flightNo" />
        <result column="LASTID" property="lastId" />
        <result column="FIRSTCLASS" property="firstClass" />
        <result column="BUSINESSCLASS" property="businessClass" />
        <result column="ECONOMYCLASS" property="economyClass" />
        <result column="AIRLINECODE" property="airlineCode" />
        <result column="CREATETIME" property="createTime" />
    </resultMap>
    <!-- 字段值 -->
    <sql id="FieldValue">
        #{id,jdbcType=VARCHAR},
        #{planId,jdbcType=VARCHAR},
        #{dept,jdbcType=VARCHAR},
        #{dest,jdbcType=VARCHAR},
        #{flightDate,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        #{pType,jdbcType=VARCHAR},
        #{clazz,jdbcType=VARCHAR},
        #{takeOffBegin,jdbcType=VARCHAR},
        #{takeOffEnd,jdbcType=VARCHAR},
        #{appId,jdbcType=VARCHAR},
        #{isShare,jdbcType=VARCHAR},
        #{lastPrice,jdbcType=VARCHAR},
        #{thisPrice,jdbcType=VARCHAR},
        #{shareFlightNo,jdbcType=VARCHAR},
        #{flightNo,jdbcType=VARCHAR},
        #{lastId,jdbcType=VARCHAR},
        #{firstClass,jdbcType=VARCHAR},
        #{businessClass,jdbcType=VARCHAR},
        #{economyClass,jdbcType=VARCHAR},
        #{airlineCode,jdbcType=VARCHAR},
        SYSDATE
    </sql>
    <!-- 字段 -->
    <sql id="Field">
    "ID",
    "PLANID",
    "DEPT",
    "DEST",
    "FLIGHTDATE",
    "USERID",
    "PTYPE",
    "CLAZZ",
    "TAKEOFFBEGIN",
    "TAKEOFFEND",
    "APPID",
    "ISSHARE",
    "LASTPRICE",
    "THISPRICE",
    "SHAREFLIGHTNO",
    "FLIGHTNO",
    "LASTID",
    "FIRSTCLASS",
    "BUSINESSCLASS",
    "ECONOMYCLASS",
    "AIRLINECODE",
    "CREATETIME"
    </sql>

    <!-- 条件列表 -->
    <select id="findList" parameterType="com.travelsky.ypb.domain.model.TicketChangePrice"
            resultMap="resultMap">
        select
        <include refid="Field"></include>
        from
        <include refid="tableName"></include>
        WHERE CREATETIME = (SELECT max(CREATETIME)
        FROM ETP_T_TICKET_CHANGE_PRICE)
        <if test="dept != null and dept !=  '' ">
            AND DEPT = #{dept}
        </if>
        <if test="dest != null and dest != '' ">
            AND DEST = #{dest}
        </if>
        <if test="flightDate != null and flightDate != '' ">
            AND FLIGHTDATE = #{flightDate}
        </if>
        <if test="appId != null and appId != '' ">
            AND APPID = #{appId}
        </if>
        <if test="pType != null and pType != '' ">
            AND PTYPE = #{pType}
        </if>
        <if test="flightNo != null and flightNo != '' ">
            AND FLIGHTNO = #{flightNo}
        </if>
        <if test="shareFlightNo != null and shareFlightNo != '' ">
            AND SHAREFLIGHTNO = #{shareFlightNo}
        </if>
        <if test="airlineCode != null and airlineCode != '' ">
            AND AIRLINECODE = #{airlineCode}
        </if>
      ORDER BY CREATETIME DESC
    </select>
<!--
    select *
    from
    ETP_T_TICKET_CHANGE_PRICE
    WHERE CREATETIME = (SELECT max(CREATETIME)

    FROM ETP_T_TICKET_CHANGE_PRICE)
-->
    <!-- 插入数据 -->
    <insert id="save" parameterType="com.travelsky.ypb.domain.model.TicketChangePrice"
            useGeneratedKeys="false">
        insert into
        <include refid="tableName"></include>
        (
        <include refid="Field"></include>
        )
        values
        (
        <include refid="FieldValue"></include>
        )
    </insert>

    <!-- 删除-->
    <delete id="delete" parameterType="String">
        delete from
        <include refid="tableName"></include>
        where
        "id" = #{id}
    </delete>


</mapper>