<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.TranscationMapper">

    <!-- 封装对象 -->
    <resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.vo.TranscationVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="txType" jdbcType="INTEGER" property="txType"/>
        <result column="to" jdbcType="VARCHAR" property="to"/>
        <result column="hash" jdbcType="VARCHAR" property="hash"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <!-- 查询用户钱包下币种详情订单记录 -->
    <select id="selectUserCoinTransactionList" resultMap="BaseResultMap">
        SELECT  id,txType,`to`,`hash`,amount,createTime FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            <if test="coinType != null and coinType.length() > 0">
                AND coinType = #{coinType}
            </if>

           <!-- <if test="startTime != null and startTime.length() > 0">
                AND createTime BETWEEN  #{startTime} AND #{endTime}
            </if>-->

            AND txType &lt; 3

        </trim>

    </select>

    <!-- 修改钱包资产 转出订单记录 -->
    <insert id="insertWalletTurnOut" parameterType="pro.bechat.wallet.domain.model.model.Transcation" useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO vah_t_transcation(userId,coinId,coinType,amount,txType,`from`,`to`,`hash`,txStatus,capital,createTime,updateTime,remark)
        VALUES(
            #{userId},#{coinId},#{coinType},-#{amount},#{txType},#{from},#{to},#{hash},#{txStatus},#{capital},now(),now(),#{remark}
        )

    </insert>

    <!-- 修改钱包资产 转入订单记录 -->
    <insert id="insertWalletToChangeInto" parameterType="pro.bechat.wallet.domain.model.model.Transcation" useGeneratedKeys="true"
            keyProperty="id">

        INSERT INTO vah_t_transcation(userId,coinId,coinType,amount,txType,`from`,`to`,`hash`,txStatus,capital,createTime,updateTime,remark)
        VALUES(
            #{userId},#{coinId},#{coinType},#{amount},#{txType},#{from},#{to},#{hash},#{txStatus},#{capital},now(),now(),#{remark}
        )

    </insert>

    <!-- 查看币种交易记录总额,条件查询 转入 -->
    <select id="selectUserCoinTurnToTotal" resultType="Double">

        SELECT SUM(amount) FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            AND amount &lt; 0

            <if test="startTime != null and startTime.length() > 0">
                AND createTime BETWEEN  #{startTime} AND #{endTime}
            </if>

        </trim>

    </select>


    <!-- 查看币种交易记录总额,条件查询 转入 -->
    <select id="selectUserCoinToChargeInfoTotal" resultType="Double">

        SELECT SUM(amount) FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            AND amount &gt; 0

            <if test="startTime != null and startTime.length() > 0">
                AND createTime BETWEEN  #{startTime} AND #{endTime}
            </if>

        </trim>

    </select>


    <!-- 查看币种交易记录总额,条件查询 转入 -->
    <select id="selectUserCoinTrunToChargeTotal" resultType="Map">

        SELECT DISTINCT (
            SELECT  SUM(amount)
            FROM vah_t_transcation

            <trim prefix="WHERE" prefixOverrides="AND | OR">
                <if test="userId != null and userId != 0">
                    AND userId = #{userId}
                </if>

                AND amount &gt; 0

                <if test="startTime != null and startTime.length() > 0">
                    AND createTime BETWEEN  #{startTime} AND #{endTime}
                </if>

            </trim>
            ) AS toChangeInto
        ,(
            SELECT SUM(amount)
            FROM vah_t_transcation

            <trim prefix="WHERE" prefixOverrides="AND | OR">
                <if test="userId != null and userId != 0">
                    AND userId = #{userId}
                </if>

                AND amount &lt; 0

                <if test="startTime != null and startTime.length() > 0">
                    AND createTime BETWEEN  #{startTime} AND #{endTime}
                </if>

            </trim>
            ) AS turnTo
        FROM vah_t_transcation
    </select>


    <!-- 查询钱包管理币种的 直推(3) 和 生息(4) 的总额 -->
    <select id="selectUserWalletCoinStraightOrInterest" resultType="Map">
        SELECT DISTINCT (
        SELECT  SUM(amount)
        FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            AND txType = 3

            <if test="coinType != null and coinType.length() > 0">
                AND coinType = #{coinType}
            </if>

        </trim>

        ) AS straightPush
        ,(
        SELECT SUM(amount)
        FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            AND txType = 4

            <if test="coinType != null and coinType.length() > 0">
                AND coinType = #{coinType}
            </if>

        </trim>
        ) AS  interest
        FROM vah_t_transcation

    </select>


    <!-- 钱包管理用户币种的交易记录 -->
    <select id="selectWalletUserCoinTransactionList" resultMap="BaseResultMap">
        SELECT  id,txType,`to`,`hash`,amount,createTime FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            <if test="coinType != null and coinType.length() > 0">
                AND coinType = #{coinType}
            </if>

            <if test="startTime != null and startTime.length() > 0">
                AND createTime BETWEEN  #{startTime} AND #{endTime}
            </if>

        </trim>

    </select>


    <!-- 查看充值记录 和 提取记录 总额 是否超过 10000 -->
    <select id="selectTranscationRechargeRecord" resultType="BigDecimal">
        SELECT SUM(amount) FROM vah_t_transcation

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            <if test="coinId != null and coinId != 0">
                AND coinId = #{coinId}
            </if>

            AND txType &lt; 3
        </trim>

    </select>


    <select id="selectTranscationByParams" resultType="pro.bechat.wallet.domain.model.model.AdminTranscationBean">
        SELECT
          	t.id,
	        t.userId,
	        t.coinId,
	        t.coinType,
	        t.amount,
	        t.txType,
	        t.`from`,
	        t.`to`,
	        t.`hash`,
	        t.remark,
	        t.txStatus,
	        t.capital,
	        t.createTime,
	        t.updateTime,
            u.phoneNum,
            u.nickName
        FROM
        	vah_t_transcation t
            LEFT JOIN VAH_T_USER u
            ON t.userId = u.id
        <if test="params.tel!=null">
            AND u.phoneNum = #{params.tel}
        </if>
        WHERE 1=1
        <if test="params.type != null">
            AND txType = #{params.type}
        </if>
        <if test="params.coinId != null">
          AND coinId = #{params.coinId}
        </if>
        <if test="params.startTime!=null">
            AND t.createTime > #{params.startTime}
        </if>
        <if test="params.endTime">
            AND t.createTime &lt; #{params.startTime}
        </if>
    </select>

</mapper>