<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.UserMapper">
    <resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.model.User">
        <id column="userId" jdbcType="INTEGER" property="id"/>
        <result column="phoneNum" jdbcType="VARCHAR" property="phoneNum"/>
        <result column="seeds" jdbcType="VARCHAR" property="seeds"/>
        <result column="headImg" jdbcType="VARCHAR" property="headImg"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="nickName" jdbcType="VARCHAR" property="nickName"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="relationship" jdbcType="VARCHAR" property="relationship"/>
        <result column="invitationCode" jdbcType="VARCHAR" property="invitationCode"/>
    </resultMap>
    <sql id="Base_Column_List">
                id,
                phoneNum,
	            passWd,
	            seeds,
	            headImg,
	            STATUS,
	            nickName,
	            sex,
	            createTime,
	            updateTime,
	            relationShip,
	            mnemonit,
	            invitationCode
  </sql>
    <insert id="insert"
            parameterType="pro.bechat.wallet.domain.model.model.User"
    keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    >
       INSERT INTO VAH_T_USER (
	        phoneNum,
	        passWd,
	        seeds,
	        headImg,
	        STATUS,
	        nickName,
	        sex,
	        createTime,
	        updateTime,
	        relationShip,
	        mnemonit,
	        invitationCode
        )
        VALUE
	      (
		    #{phoneNum},
		    #{passwd},
		    #{seeds},
		   #{headImg},
		    #{status},
		    #{nickName},
		    #{sex},
		   #{createTime},
		   #{updateTime},
		    #{relationship},
		    #{mnemonit},
		    #{invitationCode}
	);
    </insert>

    <select id="findUserByInvitationCodeAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from VAH_T_USER
        where invitationCode = #{invitationCode} AND status = #{status}
    </select>


    <select id="findUserByTelAndStatus" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from VAH_T_USER
        where phoneNum = #{tel} AND status = #{status}
    </select>
    
    <update id="updateInvitaionCode">
        update VAH_T_USER set invitationCode = #{invitationCode} where  id = #{id}
    </update>
    <select id="findUserById" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from VAH_T_USER
        where id = #{id} AND status = 1
    </select>

    <update id="updateUserHeadPic">
        update VAH_T_USER set headImg = #{picUrl} where  id = #{id}
    </update>


    <update id="updateUserNameAndSexAndPic" parameterType="java.lang.Integer">
        update VAH_T_USER set sex = #{sex} , nickName = #{name} ,  headImg = #{pic} where  id = #{id}
    </update>
</mapper>