<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.UserMapper">
    <resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.model.User">
        <id column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
    userId,
    userName,
    sex,
    userTrueName,
    userPhone,
    userIdCard,
    userCountry,
    userEmail,
    createTime,
    updateTime,
    seeds,
    transactionPW,
    machinePW,
    machineId,
    address
  </sql>
    <select id="selectByPrimaryKey" parameterType="pro.bechat.wallet.domain.model.model.User"
            resultType="pro.bechat.wallet.domain.model.model.User">
        select
        <include refid="Base_Column_List"/>
        from HUC_T_USER
        where machineId = #{machineId,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterType="pro.bechat.wallet.domain.model.model.User" useGeneratedKeys="true"
            keyProperty="userId" keyColumn="id">
    insert into HUC_T_USER (
    userName,
    sex,
    userTrueName,
    userPhone,
    userIdCard,
    userCountry,
    userEmail,
    createTime,
    updateTime,
    seeds,
    transactionPW,
    machinePW,
    machineId,
    address)
    values (
    #{userName,jdbcType=VARCHAR},
    #{sex,jdbcType=VARCHAR},
    #{userTrueName,jdbcType=VARCHAR},
      #{userPhone,jdbcType=VARCHAR},
      #{userIdCard,jdbcType=VARCHAR},
      #{userCountry,jdbcType=VARCHAR},
      #{userEmail,jdbcType=VARCHAR},
      #{createTime,jdbcType=VARCHAR},
      #{updateTime,jdbcType=VARCHAR},
      #{seeds,jdbcType=VARCHAR},
      #{transactionPW,jdbcType=VARCHAR},
      #{machinePW,jdbcType=VARCHAR},
      #{machineId,jdbcType=VARCHAR},
      #{address,jdbcType=VARCHAR}
      )
  </insert>

    <update id="update" parameterType="pro.bechat.wallet.domain.model.model.User">
        update HUC_T_USER
        <set>
            <if test="userName != null and userName != '' ">
                userName = #{userName},
            </if>
            <if test="sex != null and sex != '' ">
                sex = #{sex},
            </if>
            <if test="userTrueName != null and userTrueName != '' ">
                userTrueName = #{userTrueName},
            </if>
            <if test="userPhone != null and userPhone != '' ">
                userPhone = #{userPhone},
            </if>
            <if test="userIdCard != null and userIdCard != '' ">
                userIdCard = #{userIdCard},
            </if>
            <if test="userCountry != null and userCountry != '' ">
                userCountry = #{userCountry},
            </if>
            <if test="address != null and address != '' ">
                address = #{address},
            </if>
            <if test="coinType != null and coinType != '' ">
                coinType = #{coinType},
            </if>
            <if test="buyNum != null and  buyNum != '' ">
                buyNum = #{buyNum},
            </if>
            <if test="postalCode != null and  postalCode != '' ">
                postalCode = #{postalCode}
            </if>
        </set>
        where userId = #{userId}
    </update>

    <select id="findList" parameterType="pro.bechat.wallet.domain.model.model.User"
            resultType="pro.bechat.wallet.domain.model.model.User">
        select
        userId,
        userName,
        sex,
        userTrueName,
        userPhone,
        userIdCard,
        userCountry,
        userEmail,
        createTime,
        updateTime,
        machinePW,
        machineId,
        address,
        coinType,
        buyNum,
        birthDate,
        postalCode,
        ethAddress
        from HUC_T_USER where 1 = 1
        <if test="userEmail != null and userEmail != '' ">
            and userEmail = #{userEmail}
        </if>
        <if test=" transactionPW != null and transactionPW != '' ">
            and transactionPW = #{transactionPW}
        </if>
        <if test="userId != '1' and userId !=  1  and userId != '' and userId != null ">
            and userId = #{userId}
        </if>

    </select>

</mapper>