<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pro.bechat.wallet.domain.dao.WalletMapper">

    <!-- 封装用户钱包币种列表数据 -->
    <!--<resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.vo.WalletVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="coinId" jdbcType="INTEGER" property="coinId"/>
        <result column="coinName" jdbcType="VARCHAR" property="coinName"/>
        <result column="coinImg" jdbcType="VARCHAR" property="coinImg"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="freeAmount" jdbcType="DECIMAL" property="freeAmount"/>
        <result column="availableAmount" jdbcType="DECIMAL" property="amount"/>
    </resultMap>-->

    <!-- 封装用户钱包单个币种数据 -->
   <!-- <resultMap id="BaseResultMapWallet" type="pro.bechat.wallet.domain.model.model.Wallet">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="coinId" jdbcType="INTEGER" property="coinId"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
        <result column="freeAmount" jdbcType="DECIMAL" property="freeAmount"/>
        <result column="amount" jdbcType="DECIMAL" property="amount"/>
        <result column="availableAmount" jdbcType="DECIMAL" property="availableAmount"/>
    </resultMap>-->

    <!-- 封装给客户端的Vo数据 -->
    <resultMap id="BaseResultMap" type="pro.bechat.wallet.domain.model.vo.WalletVo">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="coinName" jdbcType="VARCHAR" property="coinName"/>
        <result column="coinImg" jdbcType="VARCHAR" property="coinImg"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="contractAddr" jdbcType="VARCHAR" property="contractAddr"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <!-- 封装条件 -->
    <resultMap id="BaseResultMapWallet" type="pro.bechat.wallet.domain.model.model.Wallet">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="coinName" jdbcType="VARCHAR" property="coinName"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="contractAddr" jdbcType="VARCHAR" property="contractAddr"/>
        <result column="privateKey" jdbcType="VARCHAR" property="privateKey"/>
        <result column="passwd" jdbcType="VARCHAR" property="passwd"/>
        <result column="keystore" jdbcType="VARCHAR" property="keystore"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="userId" jdbcType="INTEGER" property="userId"/>
    </resultMap>

    <!-- 封装币种信息 -->
    <resultMap id="BaseResultWallet" type="pro.bechat.wallet.domain.model.vo.WalletStatusVo">
        <result column="contractAddr" jdbcType="VARCHAR" property="contractAddr"/>
    </resultMap>



    <!-- 查询个人钱包总资产 -->
    <select id="selectUserWalletTotal" resultType="BigDecimal" >
      SELECT SUM(availableAmount) FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">
          <if test="userId != null and userId != 0">
              AND userid = #{userId}
          </if>
        </trim>

    </select>


    <!-- 查询用户钱包数据列表 -->
    <select id="selectUserWalletCoinList" resultMap="BaseResultMap">

        SELECT id,`name`,coinName,coinImg,address,contractAddr,userId FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userid = #{userId}
            </if>
            <if test="coinName != null and coinName.length() > 0">
                AND coinName = #{coinName}
            </if>

        </trim>

        ORDER BY createTime

    </select>


    <!-- 钱包转账，锁住钱包表,共享锁 -->
    <select id="lockWalletTable" resultType="pro.bechat.wallet.domain.model.model.Wallet">

        /*SELECT * FROM vah_y_wallet FOR UPDATE*/

        SELECT * FROM vah_y_wallet LOCK IN SHARE MODE;

    </select>

    <!-- 查询用户单个钱包信息,按编号查询 -->
    <select id="selectUserWalletCoinById" resultMap="BaseResultMapWallet" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        SELECT id,coinId,address,createTime,userId,freeAmount,amount,availableAmount FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="id != null and id != 0">
                AND id = #{id}
            </if>
            <!--<<if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            if test="coinId != null and coinId != 0">
                AND coinId = #{coinId}
            </if>-->

        </trim>

    </select>

    <!-- 查询用户单个钱包信息,按地址查询 -->
    <select id="selectUserWalletCoinByAddress" resultMap="BaseResultMapWallet" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        SELECT id,coinId,address,createTime,userId,freeAmount,amount,availableAmount FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="address != null and address.length() > 0">
                AND address = #{address}
            </if>
            <!--<if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            <if test="coinId != null and coinId != 0">
                AND coinId = #{coinId}
            </if>-->

        </trim>

    </select>



    <!-- 修改钱包资产 转出 -->
    <update id="modifyWalletTurnOut" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        UPDATE vah_y_wallet

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="amount != null and amount != 0">
                amount = amount - #{amount},
                availableAmount = availableAmount - #{amount},
            </if>
            updateTime=NOW(),
        </trim>

    </update>

    <!-- 修改钱包资产 转入 -->
    <update id="modifyWalletToChangeInto" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        UPDATE vah_y_wallet

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="amount != null and amount != 0">
                amount = amount + #{amount},
                availableAmount = availableAmount + #{amount},
            </if>

            updateTime=NOW(),
        </trim>

       <!-- <if test="coinId != null and coinId != 0">
          AND coinId = #{coinId}
        </if>-->

    </update>

    <!-- 查询用户钱包下单条 -->
    <select id="selectUserWalletByCoinId" resultType="pro.bechat.wallet.domain.model.model.Wallet">

        SELECT

        <include refid="Base_Column_List"/>

        FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            <if test="coinName != null and coinName.length() > 0">
                AND coinName = #{coinName}
            </if>

        </trim>

    </select>


    <!-- 钱包管理币种 的 交易记录 (昨日收益)+(冻结数量) -->
    <select id="selectYesterdayProfit" resultType="Map">
        SELECT
        SUM(amount) AS yesterdayProfit,
        (
            SELECT freeAmount FROM vah_y_wallet

            <trim prefix="WHERE" prefixOverrides="AND | OR">

                <if test="userId != null and userId != 0">
                    AND userId = #{userId}
                </if>

                <if test="coinId != null and coinId != 0">
                    AND coinId = #{coinId}
                </if>

            </trim>

        ) AS freeAmount
        FROM VAH_T_TRANSCATION
        WHERE TO_DAYS( NOW( ) ) - TO_DAYS(createTime) = 1

        <if test="userId != null and userId != 0">
            AND userId = #{userId}
        </if>

        <if test="coinId != null and coinId != 0">
            AND coinId = #{coinId}
        </if>
        <!--<if test="coinType != null and coinType.length() > 0">
            AND coinType = #{coinType}
        </if>-->

    </select>

    <!-- 转入钱包管理(从 钱包 转出到 钱包管理 同一币种做处理) -->
    <update id="modifyWalletDepositToChangeInto" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        UPDATE vah_y_wallet

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="amount != null and amount != 0">
                freeAmount = freeAmount + #{amount},
                availableAmount = availableAmount - #{amount},
            </if>
            updateTime=NOW(),
        </trim>

    </update>

    <!-- 钱包管理转出(从 钱包管理 转出到 钱包 同一币种做处理) -->
    <update id="modifyWalletDepositTurnOut" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        UPDATE vah_y_wallet

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="amount != null and amount != 0">
                freeAmount = freeAmount - #{amount},
                availableAmount = availableAmount + #{amount},
            </if>
            updateTime=NOW(),
        </trim>

    </update>


    <!-- 新增钱包币种信息 -->
    <insert id="insertUserWalletInfo" parameterType="java.util.List">

       <!--<selectKey resultType ="java.lang.Integer" keyProperty= "id" order= "AFTER">

            SELECT LAST_INSERT_ID()

        </selectKey>-->

        INSERT INTO vah_y_wallet(
            coinId,
            address,
            privateKey,
            passwd,
            createTime,
            updateTime,
            keystore,
            userId,
            freeAmount,
            amount,
            availableAmount
        )
        VALUES
        <foreach collection="list"  item="item" separator=",">
            (
            #{item.coinId},
            #{item.address},
            #{item.privateKey},
            #{item.passwd},
            now(),
            now(),
            #{item.keystore},
            #{item.userId},
            DEFAULT ,
            DEFAULT ,
            DEFAULT
            )
        </foreach>

    </insert>


    <!-- 查询钱包信息,冻结金额不为 0 的  冻结金额就是用来生息的,  如果3天未提取利息的不再生息 -->
    <select id="selectUserWalletInterest" resultType="pro.bechat.wallet.domain.model.model.Wallet">
        SELECT w.id,coinId,coinName,w.address,w.createTime,w.updateTime,userId,freeAmount,amount,availableAmount FROM vah_y_wallet w
        INNER JOIN VAH_T_COIN c ON w.`coinId`=c.`id`
        WHERE freeAmount != 0
        AND TO_DAYS( NOW() ) - TO_DAYS(w.updateTime) &lt;= 3
    </select>


    <!-- 修改用户钱包币种 利息生息 -->
    <update id="modifyUserWalletInterest" parameterType="pro.bechat.wallet.domain.model.model.Wallet">
        UPDATE vah_y_wallet

        <trim prefix="SET" suffixOverrides="," suffix="WHERE id=#{id}">

            <if test="amount != null and amount != 0">
                freeAmount = freeAmount + #{amount},
                amount = amount + #{amount},
                interest = interest + #{amount},
            </if>
            updateTime = NOW(),
        </trim>

    </update>

    <!-- 新增钱包信息 -->
    <insert id="insertWalletInfo" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        INSERT INTO vah_y_wallet(
                `name`,
                coinName,
                coinImg,
                address,
                contractAddr,
                privateKey,
                passwd,
                createTime,
                updateTime,
                keystore,
                userId
                )
        VALUES(
            #{name},
            #{coinName},
            #{coinImg},
            #{address},
            #{contractAddr},
            #{privateKey},
            #{passwd},
            NOW(),
            NOW(),
            #{keystore},
            #{userId}
        )

    </insert>


    <!-- 查询用户下ETH币种地址 -->
    <select id="findWalletAddressByUserId" resultType="java.lang.String">

        SELECT address FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            <if test="coinName != null and coinName.length() > 0">
                AND coinName = #{coinName}
            </if>

        </trim>

    </select>

    <!-- 查询用户ETH下的合约币信息 -->
    <select id="findWalletByUserIdAndAddress" resultMap="BaseResultMapWallet">

        SELECT

        <include refid="Base_Column_List"/>

        FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

            <if test="contractAddr != null and contractAddr.length() > 0">
                AND contractAddr = #{contractAddr}
            </if>

        </trim>

    </select>


    <!-- 查询用户下的币种信息 -->
    <select id="findUserWalletInfo" resultMap="BaseResultMapWallet" parameterType="java.lang.Integer">
        SELECT

        <include refid="Base_Column_List"/>

        FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

        </trim>

        ORDER BY createTime

    </select>

    <!-- 查询用户下的币种信息,名称 -->
    <select id="findWalletListInfo" parameterType="java.lang.Integer" resultMap="BaseResultMapWallet">

        SELECT

        <include refid="Base_Column_List"/>

        FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>

        </trim>

    </select>

    <!-- 删除用户已选合约币信息 -->
    <delete id="deleteContractAddrInfo" parameterType="pro.bechat.wallet.domain.model.model.Wallet">

        DELETE FROM vah_y_wallet

        <trim prefix="WHERE" prefixOverrides="AND | OR">

            <if test="userId != null and userId != 0">
                AND userId = #{userId}
            </if>
            <if test="contractAddr != null and contractAddr.length() > 0">
                AND contractAddr = #{contractAddr}
            </if>
        </trim>



    </delete>

    <!-- 封装参数 -->
    <sql id="Base_Column_List">
        id,
        `name`,
        coinName,
        address,
        contractAddr,
        privateKey,
        passwd,
        keystore,
        createTime,
        userId
    </sql>







</mapper>